.App {
    display: flex;
}

.petmeet {
    height: 100vh;
    width: 50vw;
    background-image: url('https://vignette.wikia.nocookie.net/joke-battles/images/5/5a/Black.jpg/revision/latest?cb=20161223050425');
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: fadeIn;
    transition: 1s;
    animation-duration: 5s;
}

.the-other-half {
    height: 100vh;
    width: 50vw;
    background-color: #40a7e2;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    border: 3px solid red;  
    animation-name: fadeIn;
    transition: 1s;
    animation-duration: 5s;  
}

.logo {
    animation-name: logo-spin;
    animation-duration: 3s;
}

@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

@keyframes logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}